body{
    font-family: Arial, Helvetica, sans-serif;
    height: 95vh;
    width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFC400;
    background-color: whitesmoke;
}